<%= simple_form_for @place_of_use_area, :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :kml %>
    <% if @place_of_use_area.kml_file_name %>
      <p>Current KML File: <%= @place_of_use_area.kml_file_name %></p>
      <% if @place_of_use_area.polygon %>
        <div class="row">
          <div class="col-md-4">
            <%= content_tag "div", id: "map_canvas", class: "edit_page", data: {feature: {type: "Feature", geometry: @place_of_use_area.polygon}} do %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit %>
  </div>
<% end %>
