<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <h2><%= @place_of_use_area.name %> <%= link_to '(edit)', edit_place_of_use_area_path(@place_of_use_area), class: "edit-link" %></h2>

      <% if @place_of_use_area.polygon %>
        <%= content_tag "div", id: "map_canvas", class: "show_page", data: {feature: {type: "Feature", geometry: @place_of_use_area.polygon}} do %>
        <% end %>
      <% end %>

      <p>
        <strong>Color:</strong>
        <%= @place_of_use_area.color %>
      </p>

      <p>
        Polygon: <%= truncate(@place_of_use_area.polygon.to_s, length: 300) %>
      </p>
    </div>
  </div>
</div>
