<div class="row">
  <div class="col-lg-3">
    <%= select_tag :user_id, options_for_select(@users, (@user.id if @user) || 0), class: 'form-control', id: 'user-selector' %>
  </div>
</div>

<%= render template: 'water_rights/index', object: @water_rights %>


<h1 class="text-center">Place of Use Areas</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Polygon</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @place_of_use_areas.each do |place_of_use_area| %>
        <tr>
          <td><%= place_of_use_area.name %></td>
          <td><%= place_of_use_area.polygon.to_s.truncate(140) %></td>
          <td><%= link_to 'Show', place_of_use_area %></td>
          <td><%= link_to 'Edit', edit_place_of_use_area_path(place_of_use_area) %></td>
          <td><%= link_to 'Destroy', place_of_use_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= link_to 'New Place of Use Area', new_place_of_use_area_path, class: 'btn btn-primary' %>
</div>


<h1 class="text-center">Point of Diversions</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Point</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @point_of_diversions.each do |point_of_diversion| %>
        <tr>
          <td><%= point_of_diversion.name %></td>
          <td><%= point_of_diversion.point %></td>
          <td><%= link_to 'Show', point_of_diversion %></td>
          <td><%= link_to 'Edit', edit_point_of_diversion_path(point_of_diversion) %></td>
          <td><%= link_to 'Destroy', point_of_diversion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= link_to 'New Point of Diversion', new_point_of_diversion_path, class: 'btn btn-primary' %>
</div>

