<h1 class="text-center">Water Rights</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Flow cfs</th>
        <th>Flow ac ft</th>
        <th>Sole supply acres</th>
        <th>Place of use</th>
        <th>Change application number</th>
        <th>Proof due date</th>
        <th>Priority date</th>
        <th>User</th>
        <th>Comments</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @water_rights.each do |water_right| %>
        <tr>
          <td><%= water_right.number %></td>
          <td><%= water_right.flow_cfs %></td>
          <td><%= water_right.flow_ac_ft %></td>
          <td><%= water_right.sole_supply_acres %></td>
          <td><%= water_right.place_of_use %></td>
          <td><%= water_right.change_application_number %></td>
          <td><%= water_right.proof_due_date %></td>
          <td><%= water_right.priority_date %></td>
          <td><%= water_right.user.email if water_right.user %></td>
          <td><%= water_right.comments %></td>
          <td><%= link_to 'Show', water_right %></td>
          <td><%= link_to 'Edit', edit_water_right_path(water_right) %></td>
          <td><%= link_to 'Destroy', water_right, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= link_to 'New Water Right', new_water_right_path, class: 'btn btn-primary' %>
</div>


<h1 class="text-center">Place of Use Areas</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Polygon</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @place_of_use_areas.each do |place_of_use_area| %>
        <tr>
          <td><%= place_of_use_area.name %></td>
          <td><%= place_of_use_area.polygon %></td>
          <td><%= link_to 'Show', place_of_use_area %></td>
          <td><%= link_to 'Edit', edit_place_of_use_area_path(place_of_use_area) %></td>
          <td><%= link_to 'Destroy', place_of_use_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= link_to 'New Place of Use Area', new_place_of_use_area_path, class: 'btn btn-primary' %>
</div>


<h1 class="text-center">Point of Diversions</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Point</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @point_of_diversions.each do |point_of_diversion| %>
        <tr>
          <td><%= point_of_diversion.name %></td>
          <td><%= point_of_diversion.point %></td>
          <td><%= link_to 'Show', point_of_diversion %></td>
          <td><%= link_to 'Edit', edit_point_of_diversion_path(point_of_diversion) %></td>
          <td><%= link_to 'Destroy', point_of_diversion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= link_to 'New Point of Diversion', new_point_of_diversion_path, class: 'btn btn-primary' %>
</div>

