<tr>
  <td><%= for_sale.description %></td>
  <td><%= for_sale.volume %></td>
  <td><%= for_sale.source %></td>
  <td><%= for_sale.price %></td>
  <td><%= for_sale.contact_info %></td>
  <td><%= for_sale.listing_area.name %></td>
  <td><%= link_to 'Show', for_sale %></td>
  <td><%= link_to 'Edit', edit_for_sale_path(for_sale) %></td>
  <td><%= link_to 'Destroy', for_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>