<%= simple_form_for @point_of_diversion, :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <% if @point_of_diversion.kml_file_name %>
      <p>Current KML File: <%= @point_of_diversion.kml_file_name %></p>
    <% end %>
    <%= f.input :kml %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit %>
  </div>
<% end %>
