<%= simple_form_for @point_of_diversion, :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :kml %>
    <% if @point_of_diversion.kml_file_name %>
      <p>Current KML File: <%= @point_of_diversion.kml_file_name %></p>
      <% if @point_of_diversion.point %>
        <%= content_tag "div", id: "map_canvas", class: "edit_page", data: {feature: {type: "Feature", geometry: @point_of_diversion.point}} do %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions text-center">
    <% if @point_of_diversion.new_record? %>
      <%= f.button :submit, "Create Point of Diversion", class: "btn-block btn-lg" %>
    <% else %>
      <%= f.button :submit, "Update Point of Diversion", class: "btn-block btn-lg" %>
    <% end %>
  </div>
<% end %>
