<tr>
  <td><%= point_of_diversion.name %></td>
  <td><%= point_of_diversion.point %></td>
  <td><%= static_map(point_of_diversion.point) if point_of_diversion.point %></td>
  <td><%= link_to 'Show', point_of_diversion %></td>
  <td><%= link_to 'Edit', edit_point_of_diversion_path(point_of_diversion) %></td>
  <td><%= link_to 'Destroy', point_of_diversion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>