<%= simple_form_for @listing_area, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :policy %>
    <%= f.input :kml %>
    <% if @listing_area.kml_file_name %>
      <p>Current KML File: <%= @listing_area.kml_file_name %></p>
      <% if @listing_area.polygon %>
        <%= content_tag "div", id: "map_canvas", class: "edit_page", data: {feature: {type: "Feature", geometry: @listing_area.polygon}} do %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions text-center">
    <% if @listing_area.new_record? %>
      <%= f.button :submit, "Create Listing Area", class: "btn-block btn-lg" %>
    <% else %>
      <%= f.button :submit, "Update Listing Area", class: "btn-block btn-lg" %>
    <% end %>
  </div>
<% end %>
