<%= form_for @listing_area, :html => { :multipart => true } do |f| %>
  <% if @listing_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing_area.errors.count, "error") %> prohibited this listing_area from being saved:</h2>

      <ul>
      <% @listing_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :policy %><br>
    <%= f.text_area :policy %>
  </div>
  <% if @listing_area.kml_file_name %>
    <p>Current KML File: <%= @listing_area.kml_file_name %></p>
  <% end %>
  <div class="field">
    <%= f.label :kml %><br>
    <%= f.file_field :kml %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
