<!-- <p id="notice"><%#= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @listing_area.name %>
</p>

<p>
  <strong>Policy:</strong>
  <%= @listing_area.policy %>
</p>

<p>
  <strong>Polygon:</strong>
  <%= @listing_area.polygon %>
</p>

<% if @listing_area.polygon %>
  <div class="row">
    <div class="col-md-4">
      <%= content_tag "div", id: "map_canvas", class: "show_page", data: {feature: {type: "Feature", geometry: @listing_area.polygon}} do %>
      <% end %>
    </div>
  </div>
<% end %>


<%= link_to 'Edit', edit_listing_area_path(@listing_area) %> |
<%= link_to 'Back', listing_areas_path %>
