<%= simple_form_for(@water_right) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :flow_cfs %>
    <%= f.input :flow_ac_ft %>
    <%= f.input :uses %>
    <%= f.input :change_application_number %>
    <%= f.input :proof_due_date, start_year: 1880, end_year: Date.today.year + 15, include_blank: true %>
    <%= f.input :priority_date, start_year: 1880, end_year: Date.today.year + 15, include_blank: true %>
    <%= f.input :view_link_text %>
    <%= f.input :external_link %>
    <%= f.input :comments %>
    <%= f.association :user, label_method: :email %>
  </div>

  <div class="form-actions text-center">
    <% if @water_right.new_record? %>
      <%= f.button :submit, "Create Water Right", class: "btn-block btn-lg" %>
    <% else %>
      <%= f.button :submit, "Update Water Right", class: "btn-block btn-lg" %>
    <% end %>
  </div>
<% end %>
