<tr>
  <td><%= water_right.number %></td>
  <td><%= water_right.flow_cfs %></td>
  <td><%= water_right.flow_ac_ft %></td>
  <td><%= water_right.uses %></td>
  <td><%= water_right.change_application_number %></td>
  <td><%= water_right.proof_due_date %></td>
  <td><%= water_right.priority_date %></td>
  <td><%= water_right.view_link_text %></td>
  <td><%= link_to water_right.external_link, water_right.external_link if water_right.external_link %></td>
  <td><%= water_right.user.email if water_right.user %></td>
  <td><%= water_right.comments %></td>
  <td><%= link_to 'Show', water_right %></td>
  <td><%= link_to 'Edit', edit_water_right_path(water_right) %></td>
  <td><%= link_to 'Destroy', water_right, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>