<h1>Listing wanteds</h1>

<table>
  <thead>
    <tr>
      <th>Volume</th>
      <th>Source</th>
      <th>Description</th>
      <th>Contact info</th>
      <th>Listing area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wanteds.each do |wanted| %>
      <tr>
        <td><%= wanted.volume %></td>
        <td><%= wanted.source %></td>
        <td><%= wanted.description %></td>
        <td><%= wanted.contact_info %></td>
        <td><%= wanted.listing_area %></td>
        <td><%= link_to 'Show', wanted %></td>
        <td><%= link_to 'Edit', edit_wanted_path(wanted) %></td>
        <td><%= link_to 'Destroy', wanted, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wanted', new_wanted_path %>
