<div class="container hidden-xs">
  <div class="row">
    <div class="col-lg-6">
      <%= link_to (image_tag "https://dl.dropboxusercontent.com/u/38076607/LOGO%20wheel.jpg", class: "logo"), root_path %>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Riley Water Consulting', root_path, class: 'navbar-brand visible-xs' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <% if current_user.has_role? :admin %>
            <li><%= link_to 'Listings Dashboard', listings_dashboard_path %></li>
            <li><%= link_to 'WRM Dashboard', wrm_dashboard_path %></li>
            <li><%#= link_to 'Admin', users_path %></li>
          <% end %>
          <li><%= link_to 'My Water Rights', show_water_rights_path %></li>
          <li><%= link_to 'Edit account', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
        <%#= link_to 'Login', new_user_session_path %>
        </ul>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Diligence Claims', page_path('diligence-claims') %></li>
            <li><%= link_to 'Proof of Beneficial Use', page_path('proof-of-beneficial-use') %></li>
            <li><%= link_to 'Change Application', page_path('change-application') %></li>
            <li><%= link_to 'Reports of Conveyance (Title)', page_path('reports-of-conveyance') %></li>
            <li><%= link_to '40 Year Plan', page_path('fourty-year-plan') %></li>
            <li><%= link_to 'Extension Request', page_path('extension-request') %></li>
            <li><%= link_to 'Declarations of Beneficial Use', page_path('declarations-of-beneficial-use') %></li>
            <li><%= link_to 'Applications to Appropriate', page_path('applications-to-appropriate') %></li>
            <li><%= link_to 'Non-use Application', page_path('non-use-application') %></li>
          </ul>
        </li>
        <li><%= link_to 'Profile', page_path('profile') %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'Buy/Sell', buy_sell_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>