<div class="col-md-4">
  <h4 class="service-list-header">All Services</h4>
  <div class="list-group">
    <%= link_to "Diligence Claims", page_path('diligence-claims'), class: 'list-group-item text-center' %>
    <%= link_to 'Proof of Beneficial Use', page_path('proof-of-beneficial-use'), class: 'list-group-item text-center' %>
    <%= link_to 'Change Application', page_path('change-application'), class: 'list-group-item text-center' %>
    <%= link_to 'Reports of Conveyance (Title)', page_path('reports-of-conveyance'), class: 'list-group-item text-center' %>
    <%= link_to '40 Year Plan', page_path('fourty-year-plan'), class: 'list-group-item text-center' %>
    <%= link_to 'Extension Request', page_path('extension-request'), class: 'list-group-item text-center' %>
    <%= link_to 'Declarations of Beneficial Use', page_path('declarations-of-beneficial-use'), class: 'list-group-item text-center' %>
    <%= link_to 'Applications to Appropriate', page_path('applications-to-appropriate'), class: 'list-group-item text-center' %>
    <%= link_to 'Non-use Application', page_path('non-use-application'), class: 'list-group-item text-center' %>
  </div>
</div>