<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= google_maps_api %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <% unless params[:id] == "home" %>
  <div class="container">
  <% end %>
    <%= render 'flashes' -%>
    <%= yield %>
    <%= render 'javascript' %>
  <% unless params[:id] == "home" %>
  </div>
  <% end %>
</body>
</html>
